@model Product
@{
    ViewData["Title"] = "Approve Product";
}

<h1>Approve a new partner</h1>
<h3>@Model.BusinessName located at @Model.BusinessAddress</h3>

<form asp-action="Approve" method="post">
    <input type="hidden" asp-for="ProductID" />

     <button type="submit" class="btn btn-primary">Approve</button>
     <button type="submit" class="btn btn-primary">Reject</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>

