@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<div class="col-sm-12">
    <h1>Confirm Deletion</h1>
    <h2>@TempData["DriverName"]</h2>
    <form method="post" asp-action="ConfirmDriverDeletion" asp-controller="Admin">
        <input type="text" name="ID" value="@TempData["DID"]" hidden />
        <button type="submit" class="btn btn-success">Delete</button>
        <a asp-controller="Admin" class="btn btn-outline-dark" asp-action="Drivers">Cancel</a>
    </form>
</div>