@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Uber Eats!</h1>

@if (TempData["message"]!=null){
    <div class="col-sm-8">
        <div class="alert alert-primary">@TempData["message"]</div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a asp-controller="Partner" asp-action="add"
               class="list-group-item">View our offerings</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about us</a>
        </div>
    </div>
</div>