@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Uber Eats!</h1>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a asp-controller="Product" asp-action="add"
               class="list-group-item">View our offerings</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about us</a>
        </div>
    </div>
</div>